# Auto detect text files and perform LF normalization
* text=auto
Release/** filter=lfs diff=lfs merge=lfs -text
Code/Build/** filter=lfs diff=lfs merge=lfs -text
Code/Binaries/** filter=lfs diff=lfs merge=lfs -text
Code/Content/Audio/** filter=lfs diff=lfs merge=lfs -text
Code/Content/EF_Barbra/** filter=lfs diff=lfs merge=lfs -text
Code/Content/EF_Edie/** filter=lfs diff=lfs merge=lfs -text
Code/Content/EF_Edith/** filter=lfs diff=lfs merge=lfs -text
Code/Content/EF_Lewis/** filter=lfs diff=lfs merge=lfs -text
Code/Content/EF_MollyGreg/** filter=lfs diff=lfs merge=lfs -text
Code/Content/EF_Sam/** filter=lfs diff=lfs merge=lfs -text
Code/Content/MS_BrushesPrintV1/** filter=lfs diff=lfs merge=lfs -text
Code/Content/MS_BrushesStainV1/** filter=lfs diff=lfs merge=lfs -text
Code/Content/MS_BrushesTradV1/** filter=lfs diff=lfs merge=lfs -text
Code/Content/MS_BrushesV1/** filter=lfs diff=lfs merge=lfs -text
Code/Content/MS_ScaryRestroom/** filter=lfs diff=lfs merge=lfs -text
Code/Content/Resources/** filter=lfs diff=lfs merge=lfs -text
Code/Content/StarterContent/** filter=lfs diff=lfs merge=lfs -text
Code/Content/Material/Audio/** filter=lfs diff=lfs merge=lfs -text
Code/Content/Levels/Room6_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
Code/Content/Levels/Room1_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text