/Code/Content/Resources
/Code/DerivedDataCache
/Code/Intermediate
/Code/Saved
/Code/Content/Developers
/Code/Content/StarterContent

/Code/Content/Audio

/Code/Content/EF_Barbra
/Code/Content/EF_Lewis
/Code/Content/EF_sam
/Code/Content/Isometric-Interiors
/Code/Content/EF_Edie
/Code/Content/EF_Edith
/Code/Content/Underground
/Code/Content/SoulCity