/Code/Content/Resources
/Code/DerivedDataCache
/Code/Intermediate
/Code/Saved
/Code/Content/Developers
/Code/Content/StarterContent
/Code/Content/EF_Edie
/Code/Content/EF_Edith
/Code/Content/Underground
/Code/Content/SoulCity
/Code/Content/MS_BushFlowerV1
/Code/Content/Audio
/Code/Content/EF_Barbra
/Code/Content/EF_Lewis
/Code/Content/EF_sam