/Code/DerivedDataCache
/Code/Intermediate
/Code/Saved
/Code/Build
/Code/Binaries
/Code/Content/Developers
/Code/Content/MS_ScaryRestroom
/Code/Content/Underground
/Code/Content/SoulCity
/Code/Content/Isometric-Interiors
