# Auto detect text files and perform LF normalization
* text=auto
/Code/Content/EF_Edie filter=lfs diff=lfs merge=lfs -text
/Code/Content/EF_Edie/* filter=lfs diff=lfs merge=lfs -text
/Code/Content/EF_Edie/ filter=lfs diff=lfs merge=lfs -text
Code/Content/EF_Edie/* filter=lfs diff=lfs merge=lfs -text
Code/Content/EF_Edie/** filter=lfs diff=lfs merge=lfs -text
